<title>Home | {{ .Site.Title }}</title>

{{ partial "header.html" . }}

{{ .Content }}

<!-- ABOUT ME -->

<h2>About:</h2>
<p>This is my personal blog, where things related to what im studying or working on gets posted, mostly about cybersecurity, GNU/Linux and programming.</p>
<p>I live and work within the open-source, libre ecosystem.</p>

<div style="text-align:center;">
  <img src="/img/gifs/gnu.gif">
</div>


<!-- RECENT POSTS -->
<h2>Recent Posts</h2>

<ul>
  {{ $pages := .Site.RegularPages }}

  {{ range first 10 (sort $pages "Date" "desc") }}
    <li>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
  {{ end }}
</ul>


{{ partial "footer.html" . }}

