{{ define "home" }}
    <tr>
        <td>
            {{ partial "menu.html" . }}
            <img src="images/gifs/walking_bear.gif">

        </td>
        <td>
            <img src="images/gifs/moving_eye.gif">
            
                <p>About:</p>
                <p>This is my personal blog, where things related to what im studying or working on gets posted, mostly about linux, cybersec and programming.</p>
                <p>This website also serves as a presentation of my current and past projects.
                <a class="link" href="/posts/personal/2025_08_13_where_i_started/">More about me...</a> 
            </p>            
        </td>
    </tr>
    <tr>
        <td>Me:
            <img src="images/sitting_dog.jpg">
        </td>
        <td class="same_size">
            <img src="images/gifs/gundam_blast.gif" >
            <img src="images/gifs/ape_thumbs_up.gif">
            
        </td>
    </tr>
    <tr>
        <td colspan="2" class="index_merge_cell">
            <img src="images/gifs/inner_sanctuary.gif">
        </td>
    </tr>
    <tr>
        <td>
            <img src="images/gifs/welcome_to_the_sewers.gif">
            <img src="images/gifs/rat.gif">
        </td>
        <td>
            github: <a href="https://github.com/UltraEgo4">https://github.com/UltraEgo4</a>
            <img src="images/gifs/gnu.gif">
        </td>
    </tr>
{{ end }}
